*{
    margin: 0;
    padding: 0;
}
.flex{
    display:flex;
}

.space-between{
    justify-content: space-between;
}

.ph-100{
    padding-left: 100px;
    padding-right: 100px;
}

.ptb-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.max-width{
    width: 100%;
}

.grid-c-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-c-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gap-50{
    gap: 50px;
}

.align-center{
    align-items: center;
}
